<div class="sidebar-nav">
  <nav class="navbar navbar-dark navbar-custom fixed-top">

    <div class="contenido">

      <div>
        <a class="navbar-brand me-2" [routerLink]="['/home/pediatra/',MedicoId]">
          <img        src="https://s3.amazonaws.com/landing.leukemiapp.com/LogoLeukemiApp-removebg-preview.png"
                      height="46" alt="logo.png" loading="lazy" style="margin-top: -1px;"/>
        </a>
       </div>

      <h2 style="color: white; margin-top: 0.5%"> PANEL DE HEMATÓLOGO </h2>

      <div>
        <ul class="nav navbar-nav navbar-right">
          <li style="align-content:center">
            <button style="font-size: small" type="submit" class="btn btn-danger" [routerLink]="['/login']">
              <i class="bi bi-box-arrow-left"></i>
              Cerrar Sesión </button>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>
