<app-hematologo-nav-bar></app-hematologo-nav-bar>
<app-medula-osea-figura></app-medula-osea-figura>

<div class="titulo">
  <div *ngIf="validar">

    <h1> Prueba: Examen Clínico </h1>

    <div class="cuerpo">

      <div class="formulario">

        <div class="sub-izquierda">

          <div style="display: flex;">
            <label>Dolor Persistente de Huesos</label>
            <input type="text"
                   disabled = disabled
                   placeholder="{{medulaOsea.dolorPersistenteHuesos}}"
                   class="form-control"
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Dolor Persistente de Abdomen</label>
            <input type="text"
                   placeholder="{{medulaOsea.dolorPersistenteAbdomen}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Fiebre Persistente</label>
            <input type="text"
                   placeholder="{{medulaOsea.fiebrePersistente}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Moretones</label>
            <input type="text"
                   placeholder="{{medulaOsea.moretones}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Sangrado de Nariz/Encias</label>
            <input type="text"
                   placeholder="{{medulaOsea.sangradoNarizEncias}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Crecimiento Tumoral</label>
            <input type="text"
                   placeholder="{{medulaOsea.crecimientoTumoral}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Inflamación de Ganglios</label>
            <input required
                   type="text"
                   placeholder="{{medulaOsea.inflamacionGanglios}}"
                   class="form-control"
                   disabled = disabled
            />
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Picazón Corporal</label>
            <input required
                   type="text"
                   placeholder="{{medulaOsea.picazonCorporal}}"
                   class="form-control"
                   disabled = disabled
            />
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

        </div>

        <div class="sub-derecha">

          <div style="display: flex;">
            <label>Cansancio Fácil</label>
            <input type="text"
                   placeholder="{{medulaOsea.cansancioFacil}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Palidez</label>
            <input type="text"
                   placeholder="{{medulaOsea.palidez}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Anemia Súbita</label>
            <input type="text"
                   placeholder="{{medulaOsea.anemiaSubita}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Pérdida de Peso</label>
            <input type="text"
                   placeholder="{{medulaOsea.perdidaPeso}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Dolor de Cabeza</label>
            <input type="text"
                   placeholder="{{medulaOsea.dolorCabeza}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Vómitos Matutinos</label>
            <input type="text"
                   placeholder="{{medulaOsea.vomitosMatutinos}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Crecimiento Rápido del Abdomen</label>
            <input type="text"
                   placeholder="{{medulaOsea.crecimientoRapidoAbdomen}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"> </span>
          </div>

        </div>
      </div>

    </div>

    <div class="botones">
      <button type="button" class="btn btn-primary" [routerLink]="['/home/hematologo/',MedicoId]">Regresar</button>
    </div>

  </div>

  <div *ngIf="!validar">
    <h1> DATOS NO REGISTRADOS </h1>

    <div class="botones">
      <button style="margin-top: 8%" type="button" class="btn btn-primary" [routerLink]="['/home/hematologo/',MedicoId]">Regresar</button>
    </div>

  </div>

</div>


