<app-hematologo-nav-bar></app-hematologo-nav-bar>
<app-medula-osea-figura></app-medula-osea-figura>

<div class="titulo">
  <div *ngIf="validar">

    <h1> Prueba: Médula Ósea </h1>

    <div class="cuerpo">

      <div class="formulario">

        <div class="sub-izquierda">

          <div style="display: flex;">
            <label>Linfoblasto B patólogico</label>
            <input type="number"
                   disabled = disabled
                   placeholder="{{medulaOsea.linfoblastoBPatologico}}"
                   class="form-control"
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Linfoblasto B normal</label>
            <input type="number"
                   placeholder="{{medulaOsea.linfoblastoBNormal}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Linfocitos T y NK</label>
            <input type="number"
                   placeholder="{{medulaOsea.linfocitosTNK}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Serie granulocito/neutrófilo</label>
            <input type="number"
                   placeholder="{{medulaOsea.serieGranulocitoNeutrofilo}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Eosinófilo</label>
            <input type="number"
                   placeholder="{{medulaOsea.eosinofilo}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Serie eritroide</label>
            <input type="number"
                   placeholder="{{medulaOsea.serieEritroide}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Celularidad de la muestra</label>
            <input required
                   type="number"
                   placeholder="{{medulaOsea.celularidad}}"
                   class="form-control"
                   disabled = disabled
            />
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

        </div>

        <div class="sub-derecha">

          <div style="display: flex;">
            <label>Blasto mieloide</label>
            <input type="number"
                   placeholder="{{medulaOsea.blastoMieloide}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Linf. B maduro e interm </label>
            <input type="number"
                   placeholder="{{medulaOsea.linfBMaduroEinterm}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Plasmocito</label>
            <input type="number"
                   placeholder="{{medulaOsea.plasmocito}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Serie monocítica</label>
            <input type="number"
                   placeholder="{{medulaOsea.serieMonocritica}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Basófilo/CD</label>
            <input type="number"
                   placeholder="{{medulaOsea.basofiloCD}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Cel. Mesenquinal</label>
            <input type="number"
                   placeholder="{{medulaOsea.celMesenquimal}}"
                   class="form-control"
                   disabled = disabled
                   required>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

        </div>
      </div>

    </div>

    <div class="botones">
      <button type="button" class="btn btn-primary" [routerLink]="['/home/hematologo/',MedicoId]">Regresar</button>
    </div>

  </div>

  <div *ngIf="!validar">
    <h1> DATOS NO REGISTRADOS </h1>

    <div class="botones">
      <button style="margin-top: 8%" type="button" class="btn btn-primary" [routerLink]="['/home/hematologo/',MedicoId]">Regresar</button>
    </div>

  </div>

</div>


