<app-hematologo-nav-bar></app-hematologo-nav-bar>
<app-hematologo-home-figura></app-hematologo-home-figura>

<div class="cuerpo">

  <div class="contenido">
    <div class="primera-linea">
      <h1> Lista de pacientes </h1>
      <button class="button2" [routerLink]="['/home/hematologo/',MedicoId,'estadisticas']"> Estadísticas </button>
    </div>

    <div>
      <div  class="input-group">
        <span style="margin-top: 1%" class="input-group-text"><i class="bi bi-search"></i></span>
        <input style="margin-top: 1%" class="form-control" type="text" [(ngModel)]="searchText"  (input)="Search()" placeholder="Buscar por DNI" />
      </div>

      <table class="table table-secondary align-middle mb-0 bg-white" style="margin-top: 1%">
        <thead class="bg-light">
        <tr>
          <th>
            <i class="bi bi-person-fill"></i>
            Nombre
          </th>
          <th>
            <i class="bi bi-lock-fill"></i>
            DNI
          </th>
          <th>Prueba: Examen Clínico</th>
          <th>Prueba: Hemograma</th>
          <th>Reporte</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let group of listPacientes ">
          <td>
            <div class="d-flex align-items-center">
              <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">{{group.nombre}}</p>
                <p class="text-muted mb-0">{{group.correo}}</p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">{{group.dni}}</p>
          </td>
          <td>
            <button type="button" class="btn btn-success" [routerLink]="['/home/hematologo/',MedicoId,'paciente',group.id,'medulaOsea']">Visualizar</button>
          </td>
          <td>
            <button type="button" class="btn" style="background-color: #7a43ee; color: white" [routerLink]="['/home/hematologo/',MedicoId,'paciente',group.id,'sangrePeriferica']">Visualizar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" [routerLink]="['/home/hematologo/',MedicoId,'paciente',group.id,'reporte']">Visualizar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


