<app-pediatra-nav-bar></app-pediatra-nav-bar>
<app-pediatra-home-figura></app-pediatra-home-figura>

<div class="cuerpo">
  <div class="contenido">
    <div class="primera-linea">
      <h1> Lista de pacientes </h1>
      <button class="button2" [routerLink]="['/home/pediatra/',MedicoId,'estadisticas']"> Estadísticas </button>
      <button class="button1" [routerLink]="['/home/pediatra/',MedicoId,'registrarPaciente']"> Registrar nuevo paciente </button>
    </div>

    <div>
      <div  class="input-group">
        <span style="margin-top: 1%" class="input-group-text"><i class="bi bi-search"></i></span>
        <input style="margin-top: 1%" class="form-control" type="text" [(ngModel)]="searchText"  (input)="Search()" placeholder="Buscar por DNI" />
      </div>

      <table class="table table-secondary align-middle mb-0 bg-white" style="margin-top: 1%">
        <thead class="bg-light">
        <tr>
          <th>
            <i class="bi bi-person-fill"></i>
            Nombre
          </th>

          <th>
            <i class="bi bi-lock-fill"></i>
            DNI
          </th>

          <th>Prueba: Hemograma</th>
          <th>Prueba: Examen Clínico</th>
          <th>Reporte</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let group of listPacientes ">
          <td>
            <div class="d-flex align-items-center">
              <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">{{group.nombre}}</p>
                <p class="text-muted mb-0">{{group.correo}}</p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">{{group.dni}}</p>
          </td>
          <td>
            <button type="button" class="btn btn-success" (click)="editSangrePeriferica(group.id)">Editar</button>
          </td>
          <td>
            <button type="button" class="btn" style="background-color: #7a43ee; color: white" (click)="editMedulaOsea(group.id)">Editar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="editReporte(group.id)">Reporte</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<!--form modal-->
<div
  class="modal fade"
  id="modalReporte"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">ADVERTENCIA</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Ya se registró el Reporte del paciente ¿Desea continuar con la modificacion de los datos?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" style="width: 100px" class="btn btn-secondary" (click)="refresh()" data-bs-dismiss="modal">
          No
        </button>
        <button type="button" style="width: 100px" class="btn btn-primary" (click)="saveSomeThingReporte()">
          Si
        </button>
      </div>
    </div>
  </div>
</div>

<!--form modal-->
<div
  class="modal fade"
  id="modalSangrePeriferica"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">ADVERTENCIA</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Ya se registró la Sangre Periférica del paciente ¿Desea continuar con la modificacion de los datos?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" style="width: 100px" class="btn btn-secondary" (click)="refresh()" data-bs-dismiss="modal">
          No
        </button>
        <button type="button" style="width: 100px" class="btn btn-primary" (click)="saveSomeThingSangrePeriferica()">
          Si
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalMedulaOsea"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel#2">ADVERTENCIA</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Ya se registro la Médula Ósea del paciente <br> ¿Desea continuar con la modificacion de los datos?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" style="width: 100px" class="btn btn-secondary" (click)="refresh()" data-bs-dismiss="modal">
          No
        </button>
        <button type="button" style="width: 100px" class="btn btn-primary" (click)="saveSomeThingMedulaOsea()">
          Si
        </button>
      </div>
    </div>
  </div>
</div>
