<app-pediatra-nav-bar></app-pediatra-nav-bar>
<app-hematologo-sangre-periferica-figura></app-hematologo-sangre-periferica-figura>

<div class="titulo">
  <div *ngIf="validar">
    <h1> Prueba: Sangre Periférica </h1>

    <div class="cuerpo">

      <div class="formulario">

        <div class="sub-izquierda">

          <div style="display: flex;">
            <label>linfoblasto B patólogico</label>
            <input type="number"
                   class="form-control"
                   placeholder="{{sangrePeriferica.linfoblastoBPatologico}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>linfoblasto B normal</label>
            <input type="number"
                   class="form-control"
                   placeholder="{{sangrePeriferica.linfoblastoBNormal}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>linfocitos T</label>
            <input type="number"
                   class="form-control"
                   placeholder="{{sangrePeriferica.linfocitosT}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Serie granulocito/neutrófilo</label>
            <input type="number"
                   class="form-control"
                   placeholder="{{sangrePeriferica.serieGranulocitoNeutrofilo}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Eosinófilo</label>
            <input type="number" o
                   class="form-control"
                   placeholder="{{sangrePeriferica.eosinofilo}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Serie eritroide</label>
            <input type="number"
                   class="form-control"
                   placeholder="{{sangrePeriferica.serieEritroide}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Celularidad de la muestra</label>
            <input type="number"
                   class="form-control"
                   placeholder="{{sangrePeriferica.celularidad}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

        </div>

        <div class="sub-derecha">

          <div style="display: flex;">
            <label>Blasto mieloide</label>
            <input type="number"
                   class="form-control"
                   placeholder="{{sangrePeriferica.blastoMieloide}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>linf. B maduro e interm </label>
            <input type="number"
                   class="form-control"
                   placeholder="{{sangrePeriferica.linfBMaduroElntorm}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Células NK</label>
            <input type="number"
                   class="form-control"
                   placeholder="{{sangrePeriferica.celulasNK}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>serie monocítica</label>
            <input type="number"
                   class="form-control"
                   placeholder="{{sangrePeriferica.serieMonocitica}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Basófilo/CD</label>
            <input type="number"
                   class="form-control"
                   placeholder="{{sangrePeriferica.basofiloCD}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

          <br>

          <div style="display: flex;">
            <label>Plasmocito</label>
            <input type="number"
                   class="form-control"
                   placeholder="{{sangrePeriferica.plasmocito}}"
                   disabled = disabled>
            <span  class="input-group-text" style="background-color: white; border: none"><i class="bi bi-percent"></i></span>
          </div>

        </div>
      </div>
    </div>

    <div class="botones">
      <button type="button" class="btn btn-primary" [routerLink]="['/home/pediatra/',MedicoId]">Regresar</button>
    </div>

  </div>

  <div *ngIf="!validar">
    <h1> DATOS NO REGISTRADOS </h1>

    <div class="botones">
      <button style="margin-top: 8%" type="button" class="btn btn-primary" [routerLink]="['/home/pediatra/',MedicoId]">Regresar</button>
    </div>

  </div>

</div>

