<div class="sidebar-nav">
  <nav class="navbar navbar-dark bg-primary fixed-top">

    <div class="contenido">

      <div>
       <!--
        <a class="navbar-brand me-2" href="https://mdbgo.com/">
          <img        src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
                      height="16" alt="logo.png" loading="lazy" style="margin-top: -1px;"/>
        </a>-->
      </div>

      <h2 style="color: white; margin-top: 0.5%"> PANEL DE PEDIATRA </h2>

      <div>
        <ul class="nav navbar-nav navbar-right">
          <li style="align-content:center">
            <button style="font-size: small" type="submit" class="btn btn-danger" [routerLink]="['/login']">
              <i class="bi bi-box-arrow-left"></i>
              Cerrar Sesión </button>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>
