<div class="contenido">
  <div class="izquierda">
    <h2> Elige tu perfil </h2>
    <br>
    <div class="botones">
      <button type="button" class="btn btn-danger btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Hematólogo
      </button>
      <br>
      <button type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem; width: 100%">Pediatra
      </button>
    </div>
  </div>

  <div class="derecha">
    <img src="assets/image/Doctorb.png" class="img-fluid imagen" alt="Sample image">
  </div>
</div>

<app-perfil-figuras></app-perfil-figuras>

